{% extends "base.html" %}
{% block content %} 
{% block title %}Membership plans of Assanj{% endblock title %}
{% block description %} Membership Plans on Assanj, be premium and enjoy the privilege that no regular person can.{% endblock description %}
{% block keywords %}Membership Assanj, assanj pricing plans, assanj pricing, pricings on street shop platforms{% endblock keywords %}
<br>
<br>
<br>
<br>
<br>
<h1 class="anton-regular">Plans will start within soon!<br><br><br></h1>
<h1 class="anton-regular">Yearly Plans<br></h1>
<br>

<div class="wrapper">
    <div class="table basic">
      <div class="price-section">
        <div class="price-area">
          <div class="inner-area">
            <span class="text">₹</span>
            <span class="price">0</span>
          </div>
        </div>
      </div>
      <div class="package-name"></div>
      <ul class="features">
        <li>
          <span class="list-name">Regular prices</span>
          <span class="icon check"><i class="fas fa-check"></i></span>
        </li>
        <li>
          <span class="list-name">Festival offers</span>
          <span class="icon cross"><i class="fas fa-times"></i></span>
        </li>
        <li>
          <span class="list-name">Suggested combos</span>
          <span class="icon cross"><i class="fas fa-times"></i></span>
        </li>
      </ul>
      <div class="btn"><button>Purchase</button></div>
    </div>
    <div class="table premium">
      <div class="ribbon"><span>Recommended</span></div>
      <div class="price-section">
        <div class="price-area">
          <div class="inner-area">
            <span class="text">₹</span>
            <span class="price">499</span>
          </div>
        </div>
      </div>
      <div class="package-name"></div>
      <ul class="features">
        <li>
            <span class="list-name">Premium prices</span>
            <span class="icon check"><i class="fas fa-check"></i></span>
        </li>
        <li>
          <span class="list-name">Monthly offers</span>
          <span class="icon check"><i class="fas fa-check"></i></span>
        </li>
        <li>
          <span class="list-name">Festival offers</span>
          <span class="icon cross"><i class="fas fa-times"></i></span>
        </li>
        <li>
            <span class="list-name">Combos at least price</span>
            <span class="icon cross"><i class="fas fa-times"></i></span>
          </li>
          <li>
            <span class="list-name">Premium ratings</span>
            <span class="icon cross"><i class="fas fa-times"></i></span>
          </li>
      </ul>
      <div class="btn"><button>Purchase</button></div>
    </div>
    <div class="table ultimate">
      <div class="price-section">
        <div class="price-area">
          <div class="inner-area">
            <span class="text">₹</span>
            <span class="price">599</span>
          </div>
        </div>
      </div>
      <div class="package-name"></div>
      <ul class="features">
        <li>
            <span class="list-name">Premium menu</span>
            <span class="icon check"><i class="fas fa-check"></i></span>
        </li>
        <li>
          <span class="list-name">Monthly offers</span>
          <span class="icon check"><i class="fas fa-check"></i></span>
        </li>
        <li>
          <span class="list-name">Festival offers</span>
          <span class="icon cross"><i class="fas fa-times"></i></span>
        </li>
        <li>
            <span class="list-name">Combos at least price</span>
            <span class="icon cross"><i class="fas fa-times"></i></span>
          </li>
          <li>
            <span class="list-name">Premium ratings</span>
            <span class="icon cross"><i class="fas fa-times"></i></span>
          </li>
          <li>
            <span class="list-name">Pre-ordering products</span>
            <span class="icon cross"><i class="fas fa-times"></i></span>
          </li>
          <li>
            <span class="list-name">Public profile with original mark </span>
            <span class="icon cross"><i class="fas fa-times"></i></span>
          </li>
          <li>
            <span class="list-name">Your own flag</span>
            <span class="icon cross"><i class="fas fa-times"></i></span>
          </li>
          <li>
            <span class="list-name">No advertisements ever!</span>
            <span class="icon cross"><i class="fas fa-times"></i></span>
          </li>
          <li>
            <span class="list-name">Monthly lucky customers</span>
            <span class="icon cross"><i class="fas fa-times"></i></span>
          </li>
      </ul>
      <div class="btn"><button>Purchase</button></div>
    </div>
  </div>

  <br>
  <br>
  <br>
  <br>
  <h1 class="anton-regular">Monthly Plans<br></h1>
  <br>

<div class="wrapper">
    <div class="table basic">
      <div class="price-section">
        <div class="price-area">
          <div class="inner-area">
            <span class="text">₹</span>
            <span class="price">0</span>
          </div>
        </div>
      </div>
      <div class="package-name"></div>
      <ul class="features">
        <li>
          <span class="list-name">Regular prices</span>
          <span class="icon check"><i class="fas fa-check"></i></span>
        </li>
        <li>
          <span class="list-name">Festival offers</span>
          <span class="icon cross"><i class="fas fa-times"></i></span>
        </li>
        <li>
          <span class="list-name">Suggested combos</span>
          <span class="icon cross"><i class="fas fa-times"></i></span>
        </li>
      </ul>
      <div class="btn"><button>Purchase</button></div>
    </div>
    <div class="table premium">
      <div class="ribbon"><span>Recommend</span></div>
      <div class="price-section">
        <div class="price-area">
          <div class="inner-area">
            <span class="text">₹</span>
            <span class="price">49</span>
          </div>
        </div>
      </div>
      <div class="package-name"></div>
      <ul class="features">
        <li>
            <span class="list-name">Premium prices</span>
            <span class="icon check"><i class="fas fa-check"></i></span>
        </li>
        <li>
          <span class="list-name">Monthly offers</span>
          <span class="icon check"><i class="fas fa-check"></i></span>
        </li>
        <li>
          <span class="list-name">Festival offers</span>
          <span class="icon cross"><i class="fas fa-times"></i></span>
        </li>
        <li>
            <span class="list-name">Combos at least price</span>
            <span class="icon cross"><i class="fas fa-times"></i></span>
          </li>
          <li>
            <span class="list-name">Premium ratings</span>
            <span class="icon cross"><i class="fas fa-times"></i></span>
          </li>
      </ul>
      <div class="btn"><button>Purchase</button></div>
    </div>
    <div class="table ultimate">
      <div class="price-section">
        <div class="price-area">
          <div class="inner-area">
            <span class="text">₹</span>
            <span class="price">59</span>
          </div>
        </div>
      </div>
      <div class="package-name"></div>
      <ul class="features">
        <li>
            <span class="list-name">Premium menu</span>
            <span class="icon check"><i class="fas fa-check"></i></span>
        </li>
        <li>
          <span class="list-name">Monthly offers</span>
          <span class="icon check"><i class="fas fa-check"></i></span>
        </li>
        <li>
          <span class="list-name">Festival offers</span>
          <span class="icon cross"><i class="fas fa-times"></i></span>
        </li>
        <li>
            <span class="list-name">Combos at least price</span>
            <span class="icon cross"><i class="fas fa-times"></i></span>
          </li>
          <li>
            <span class="list-name">Premium ratings</span>
            <span class="icon cross"><i class="fas fa-times"></i></span>
          </li>
          <li>
            <span class="list-name">Pre-ordering products</span>
            <span class="icon cross"><i class="fas fa-times"></i></span>
          </li>
          <li>
            <span class="list-name">Public profile with original mark </span>
            <span class="icon cross"><i class="fas fa-times"></i></span>
          </li>
          <li>
            <span class="list-name">Your own flag</span>
            <span class="icon cross"><i class="fas fa-times"></i></span>
          </li>
          <li>
            <span class="list-name">No advertisements ever!</span>
            <span class="icon cross"><i class="fas fa-times"></i></span>
          </li>
          <li>
            <span class="list-name">Monthly lucky customers</span>
            <span class="icon cross"><i class="fas fa-times"></i></span>
          </li>
      </ul>
      <div class="btn"><button>Purchase</button></div>
    </div>
  </div>

{% endblock content %}
