
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Find products that are not listed anywhere, from mud pots to fancy T-shirts. Hunt the best!!{% block description %}{% endblock description %}">
    <meta name="robots" content="assanj,cheap clothes, best clothes, best stalls in nagpur, best stalls near me, best stalls in my city, best street shops, best street food, hand made products, cheap products {% block keywords %}{% endblock keywords %}">
    <link rel="shortcut icon" type="image/x-icon" href="static/images/menu_pics/favicon-32x32.png"/>
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kings&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bodoni+Moda+SC:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Fjalla+One&family=Kings&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    {% load static %}
    <link rel='stylesheet' href='{% static 'css2/styler.css' %}' >
    <link rel='stylesheet' href='https://assanj.s3.eu-north-1.amazonaws.com/staticfile/css2/' >
    <link rel='stylesheet' href='https://assanj.s3.eu-north-1.amazonaws.com/staticfile/admin/' >
    <link rel='stylesheet' href='https://assanj.s3.eu-north-1.amazonaws.com/staticfile/js/' >
    <link rel='stylesheet' href='https://assanj.s3.eu-north-1.amazonaws.com/staticfile/rest_framework/' >
    <link rel='stylesheet' href='https://assanj.s3.eu-north-1.amazonaws.com/staticfile/staticfiles.json' >
    
    
    
    <title>{% block title %}    
        
        {% endblock title %}</title>
    </head>
    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-CGLGZVGP7B"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-CGLGZVGP7B');
</script>
    <header>
    {% load has_group %}
<nav>
        <div class="nav-bar">
        <i class='bx bx-menu sidebarOpen'></i>
        <span class="logo navLogo"><a href="/"><div class='carter'>Assanj</a></div></span>
        <div class="menu">
            <div class="logo-toggle">
                <span class="logo"><a href="/"><div class='carter'>Assanj</a></div></span>
                <i class='bx bx-x siderbarClose'></i>
            </div>
            <ul class="nav-links">
                <li><a href="/" class='anton-regular2'>Home</a></li>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'profile' user.username %}" class='anton-regular2'>Profile</a></li>  
                {% else %}
                    <li><a href="{% url 'login' %}" class='anton-regular2'>Profile</a></li>       
                {% endif %}
                {% if user.is_authenticated %}
                {% else %}
                    <li><a href="{% url 'login' %}" class='anton-regular2'>Login</a></li>
                    <li><a href="{% url 'register' %}" class='anton-regular2'>Register</a></li>
                {% endif %}
                <li><a href="{% url 'rater_list' %}" class='anton-regular2'>Rater</a></li>
                <li><a href="{% url 'future' %}" class='anton-regular2'>Membership plans</a></li>
                <li><a href="https://forms.gle/R9j3oUYq2QdNpFyE8" class='anton-regular2'>Join community</a></li>
                <li><a href="https://razorpay.me/@digitalenterprise" class='anton-regular2'>Donate</a></li>
            </ul>
        </div>
        <div class="darkLight-searchBox">
            <div class="dark-light">
                <i class='bx bx-moon moon'></i>
                <i class='bx bx-sun sun'></i>
            </div>
            <div class="searchBox">
                <div class="searchToggle">
                    <i class='bx bx-x cancel'></i>
                    <i class='bx bx-search search'></i>
                </div>
                <div class="search-field">
                    <form role="search" method=GET action="{% url 'search' %}">
                        {% csrf_token %}
                        <input type="text" id="search-form" placeholder="Find it!!!!" value="" name="query">
                        <button type="submit" class="search-submit"></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</nav>
</header>
<body>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li class="{{ message.tags }}">{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}
    <div class="loader"></div>
    {% block content %}
    
    {% endblock content %}
        {% block loading %}
        {% endblock loading %}
        <!-- Site footer -->
        <footer class="site-footer">
            <div class="containers">
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <h6 class='foot-head'>About</h6>
                        <p class="text-justify">We are trying to bring all the products that are not listed anywhere across the web. The quality might not be the best, products might not be branded.<br> You will find addidos, pomu, neki and many so on. <br>But you will also find hand-crafted products made by hours of hard work and love, their quality might not surpass the brands or even come close to. But their beauty and aura can never be touched by tagged products. <br>It is time to appreciate the craftsmanship over a tag.</p>
                    </div>
                    
                    <div class="col-xs-6 col-md-3">
                      <h6 class='foot-head'>Quick Links</h6>
                      <ul class="footer-links">
                        <li><a href="/" >Home</a></li>
                            {% if user.is_authenticated %}
                                <li><a href="{% url 'profile' user.username %}" >Profile</a></li>  
                            {% else %}
                                <li><a href="{% url 'login' %}" >Profile</a></li>       
                            {% endif %}
                            {% if user.is_authenticated %}
                            {% else %}
                                <li><a href="{% url 'login' %}" >Login</a></li>
                                <li><a href="{% url 'register' %}" >Register</a></li>
                            {% endif %}
                            <li><a href="{% url 'future' %}" >Membership plans</a></li>
                            <li><a href="https://forms.gle/R9j3oUYq2QdNpFyE8" >Join community</a></li>
                            <li><a href="https://razorpay.me/@digitalenterprise" >Donate</a></li>
                      </ul>
                    </div>
        <div class="col-xs-6 col-md-3">
          <h6>Categories</h6>
          <ul class="footer-links">
            {% for cats in cat %}  
                <a href="{% url "category" cats.cat_name %}">
                    {{cats.cat_name}} 
                </a><br>
            {% endfor %}
          </ul>
        </div>

      </div>
      <hr>
    </div>
    <div class="containers">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">Copyright &copy; 2024 All Rights Reserved by Frosty
          </p>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
          <ul class="social-icons">
            <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
              </ul>
        </div>
      </div>
    </div>
</footer>
       <script src='{% static 'js/all.js' %}'></script>
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
        <script>
            window.addEventListener("load", () => {
                const loader = document.querySelector(".loader");
                
                loader.classList.add("loader--hidden");
                
                loader.addEventListener("transitionend", () => {
                    document.body.removeChild(loader);
                });
            });
            
        </script>
        {% block script %}
        
        {% endblock script %}
    </body>
</html>
